.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  color: slategray;
  font-size: 20px;
}
.navbar__item:hover {
  flex-basis: 20%;
  list-style-type: none;
  color: slategray;
  font-size: 20px;
  border: 1px black solid;
}
