.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  color: slategray;
  font-size: 20px;
}
.navbar__item:hover {
  flex-basis: 20%;
  list-style-type: none;
  color: slategray;
  font-size: 20px;
}
.navbar li a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  width: 100px;
}

.navbar li a:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
